

.middle-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-section h3 {
  font-size: 30px;
  text-align: center;
}

.middle-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
